<script type="jtk" id="tmplNode">
    <div style="width: ${w}px; height: ${h};">
        ${label}
    </div>
</script>
<script type="jtk" id="startNode">
    <div style="width: ${w}px; height: ${h}px;">
        ${label}
    </div>
</script>

<script type="jtk" id="taskNode">
    <div style="width: ${w}px; height: ${h}px;">
        ${label}
    </div>
</script>

<script type="jtk" id="globalTaskNode">
    <div class="node_global" style="width: ${w}px; height: ${h}px;">
        ${label}
    </div>
</script>

<script type="jtk" id="endNode">
    <div class="node_end" style="width: ${w}px; height: ${h}px;">
        ${label}
    </div>
</script>
