<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TestPage : {{ sub }}</title>
    <link rel="stylesheet" href="https://sds.maum.ai/css?host={{ sub }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0px 0px 0px 0px
        }

        body {
            background-repeat:no-repeat;
            background-position:center;
        }


    </style>
</head>
<body>

    <script src="https://sds.maum.ai/js/{{ sub }}/qrLocation"></script>
</body>
</html>
